/* Rosé Pine _variant Palette */
/* Build: npx @rose-pine/build@latest -s false -p _ -t template.css */

:root {
  --rp-rose: #ebbcba;
  --rp-gold: #f6c177;
  --rp-foam: #9ccfd8;
  --rp-pine: #31748f;
  --rp-iris: #c4a7e7;
  --rp-text: #e0def4;
  --rp-subtle: #908caa;
  --rp-muted: #6e6a86;
  --rp-highlight-high: #524f67;
  --rp-overlay: #26233a;
  --rp-highlight-med: #403d52;
  --rp-base: #191724;
  --rp-surface: #1f1d2e;

  --vimium-foreground-text-color: var(--rp-text);
  --vimium-background-text-color: var(--rp-text);
  --vimium-foreground-color: var(--rp-surface);
}

/* link hints */

#vimium-hint-marker-container div.internal-vimium-hint-marker,
#vimium-hint-marker-container div.vimiumHintMarker {
    padding: 3px 4px;
    background: var(--rp-foam);
    border: 1;
    border-color: var(--rp-base);
    box-shadow: none;
}

#vimium-hint-marker-container div span {
    color: var(--rp-base);
    text-shadow: none;
}

#vimium-hint-marker-container div span.matchingCharacter {
    color: var(--rp-highlight-high);
}

/* vomnibar */

#vomnibar {
    background: var(--rp-base);
    border: 2px solid var(--rp-iris);
    animation: show 200ms cubic-bezier(0, 0, 0.2, 1) forwards;
    max-height: calc(100vh - 70px);
    overflow: hidden;
}

@keyframes show {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#vomnibar input {
    color: var(--rp-text);
    background: var(--rp-base);
    border: none;
    box-shadow: none;
    height: unset;
    padding: 16px 30px;
}

#vomnibar #vomnibar-search-area {
    border: none;
    padding: unset;
    background: var(--rp-base);
}

#vomnibar ul {
    padding: 0;
    margin: 0;
    background: var(--rp-base);
    border-top: 1px solid var(--rp-highlight-med);
}

#vomnibar li {
    padding: 10px;
    border-bottom: 1px solid var(--rp-highlight-med);
}

#vomnibar li .top-half,
#vomnibar li .bottom-half {
    padding: 3px 0;
}

#vomnibar li .source {
    color: var(--rp-gold);
}

#vomnibar li em,
#vomnibar li .title {
    color: var(--rp-pine);
    font-weight: bold;
}

#vomnibar li .url {
    color: var(--rp-rose);
}

#vomnibar li .match {
    color: var(--rp-foam);
    font-weight: bold;
}

#vomnibar li .title .match {
    color: var(--rp-iris);
}

#vomnibar li.selected {
    background-color: var(--rp-highlight-med);
}

/* search/find hud */

div#hud-container {
    background: var(--rp-base);
    border: 1px solid var(--rp-highlight-high);
    box-shadow: none;
}

div#hud-container span#hud-find-input,
div#hud-container div#hud {
    color: var(--rp-text);
}

div#hud-container .hud-find,
div#hud-container #search-area {
    background-color: var(--rp-base);
}

::selection {
    background-color: var(--rp-gold) !important;
    color: var(--rp-base) !important;
}

/* vimium settings */

body.vimium-body header,
body.vimium-body label,
body.vimium-body {
    color: var(--rp-text);
    background-color: var(--rp-base);
}

body.vimium-body button,
body.vimium-body footer,
body.vimium-body textarea,
body.vimium-body input {
    scrollbar-color: var(--rp-highlight-high) var(--rp-highlight-med);
    background-color: var(--rp-surface);
}

body.vimium-body #wrapper .example {
    color: var(--rp-muted);
}

body.vimium-body a {
    color: var(--rp-iris);
}

body.vimium-body input,
body.vimium-body button {
    border-color: var(--rp-overlay);
}

body.vimium-body button:focus {
    border-color: var(--rp-pine);
}

/* help dialog */

#dialog {
    color: var(--rp-text);
    background: var(--rp-surface);
}

#dialog .divider {
    background: var(--rp-highlight-med);
}

#dialog a,
#dialog span.vim {
    color: var(--rp-pine);
}

#dialog div.help-description,
#dialog h2,
#dialog h1,
#dialog a#close {
    color: var(--rp-text);
}

#dialog a#close:hover {
    color: var(--rp-subtle);
}

#dialog .key,
body.vimium-body .key {
    color: var(--rp-text);
    background: var(--rp-surface);
    border-color: var(--rp-overlay);
}
